.bg-1 {
    background-color: rgb(190, 190, 190);
}

.printer {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}
.fileRow {
    cursor:pointer;
}

td {
  transition: transform .05s;
  /* margin: 0 auto; */
}
td:hover {
  transform: scale(1.01);
}